*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.start{
    min-height: 2000px;
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.00) 0%, #000 100%), linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 10%), url(img/background\ \(2\).png);
    /* background: linear-gradient(347deg, rgba(0, 0, 0, 0.00) 0%, #000 100%); */
    background-size: cover;
    
    background-repeat: no-repeat;

}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}
.name{
    color: var(--wei, #FFF);
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
   
    padding-left: 85px;
}
.info{
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}
.info p{
    padding-right: 50px;
    
}
.srch{
    display: flex;
    align-items: center;
}
.srch i{
    color: #FFF;
    padding-right: 14px;
}
.srch input{
    background-color: transparent;
    border: none;
    color: #FFF;
   
}
input::placeholder{
    font-size: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.txtwelcome{
    display: flex;
    margin-top: 196px;
    /* column-gap: 25%; */
   
}

a{
    text-decoration: none;
    color: #FFF;
}
.social{
    padding-left: 79px;
    padding-top: 102px;
}
.soclogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.soclogo i{
    margin: 20px auto;
}
.social>p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 0;
    
}
.discover{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    
}
h3{
    color: #FFC178;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 0;
}
h3::before{
    content: "";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: #FFC178;
    margin-bottom: 6px;
    margin-right: 32px;
}
h1{
    color: var(--wei, #FFF);
    font-size: 88px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0; 
    padding-top: 32px;
}
h1 span{
    color: var(--wei, #FFF);
    font-size: 96px;
    text-transform: capitalize;
    font-weight: 700;
}

.scrolldown{
    padding-top: 126px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    row-gap: 9px;
}
.scrolldown p{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding-right: 9px;
    
}
.scrolldown i{
    color: #FFF;
    
}
.holiday{
    background-image: linear-gradient( 180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    height: 800px;
}
.imghol{
    margin-top: -173px;
}
.about{
    margin-top: -100px;
}
h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    width: 555px;
}
.text{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    width: 632px;
}
.more{
    color: var(--accent, #FBD784);
    font-size: 18px;
    font-weight: 700;
    display: flex;
}
.more i{
    padding-top: 22px;
    padding-left: 9px;
}
.bromo{
    background: #000;
    height: 1000px;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/bromo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% ;
}
.brmh3{
    margin: 0 auto;
    padding-bottom: 24px;
}
.brmh3::after{
    content: "";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: #FFC178;
    margin-bottom: 6px;
    margin-left: 32px;
}
.brmh2{
    margin: 0 auto;
    padding-bottom: 27px;
    width: 705px;
}
.brmtxt{
    margin: 0 auto;
    width: 934px;
    padding-bottom: 39px;
}
.mbrm{
    justify-content: center;
}
.txtbromo{
    text-align: center;
    padding-top: 560px;
}
.bromo>i{
    color: white;
}
i>i{
    color: #FFF;
    float: right;
}
.culture{
    padding-top: 250px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    min-height: 1000px;
}
.abtcul{
    margin-top: 115px;
}


