*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    margin: 0;
}
.main{
    width: 812px;
    height: 792px;
    margin: 200px auto;
    position: relative;
    margin-bottom: 0;
}
.firstlogo{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
.secondlogo{
    background-color: #FFCE22;
    position: absolute;
    top: 230px;
    left: 260px;
    z-index: 1;
    width: 300px;
    height: 300px;
    overflow: hidden;

}
.thirtlogo{
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border: 2px solid #2137FC;
    border-left: none;
    border-right: none;
}
.dia{
    text-align: center;
    padding-top: 80px;
}
.dia img{
    width:200px;
    
}
.flag{
    width: 50px;
    height: 30px;
    background-color: #FFCE22;
    overflow: hidden;
    border-radius: 6px;
    margin: 15px auto; 

}
 .flag2{
    background-color: #2137FC;
    width: 50px;
    height: 15px;
    margin: 0 auto;
}
.secondlogo div{
    height: 150px;
    width: 300px;
    background-color: #2137FC;
}
.secondlogo img{
    padding-top: 67px;
    width:300px;
}
.circle{
    width: 280px;
    height: 280px;
    background-color: #FFCE22;
    overflow: hidden;
    border-radius: 280px;
    margin: 10px auto;
}

.blue{
    width: 280px; 
   
}
.glyph{
    width: 237px;
    margin-left: 22px;
    margin-top: -19px;

}