*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}
.welcome{
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.60) 0%, #000 2000%), url(../img/background1.png);
    min-height: 1080px
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 40px;
    color: white;
    font-weight: 400;
}
.logo span{
    color: #F90;
}
.navigation{
    display: flex;
    column-gap: 20px;
}
.navigation p{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.navigation p:nth-child(1){
    color: #F90;
}
.butt button{
    color: #F90;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    border: none;
}
.wel-text{
    padding-top: 319px;
    display: flex;
    justify-content: center;
    column-gap: 182px;
}
.vintage{
    color: #FFF;
    text-align: right;
    font-size: 80px;
    font-weight: 400;
    width: 437px;
    text-align: right;
    margin: 0;
    margin-top: -25px;
}
.vintage span{
    color: #F90;
}
.isadore{
    color: #FFF;
    font-size: 34px;
    font-weight: 400;
    width: 646px;
    margin: 0;
}
.isadore span{
    color: #F90;
    float: right;
}
.ourstory{
    background-color: #F6FDEE;
    min-height: 1350px;
}
.mainname{
    padding-top: 120px;
    padding-left: 142px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 90px
}
.mainname span{
    color: #F90;
}
.story-content{
    display: grid;
    grid-template-columns: 508px 508px 508px;
    justify-content: center;
}
.img1orstory{
    justify-self: end;
}
.distinkt{
    justify-self: center;
}
.nameprg{
    color: #F90;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.containprg{
    font-weight: 400;
    color: #000;
    font-size: 18px;
    text-align: left;
    width: 305px;
}
.another{
    text-align: center;
}
.img3orstory{
    margin-top: -211px;
    justify-self: center;
}
.img4orstory{
    justify-self: end;
    margin-top: -317px;
}
.img5orstory{
    grid-column-start: 3;
    margin-top: -317px;
}
.more{
    padding-top: 35px;
    justify-self: end;
    grid-column: 3;
    padding-bottom: 121px;
}
.more p{
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.more::after{
    content:'';
    display: block;
    width: auto;
    height: 5px;
    background: #FFE600;
}
a{
    text-decoration: none;
}
.collection{
    min-height: 904px;
    background: #FFF;
}
/* .collection::after{
    content:'';
    display: block;
    width: auto;
    height: 5px;
    margin-top: 25px;
    background: #F90;
} */
.ourcollection{
    display: flex;
    justify-content: space-around;
    margin-top: -41px;
}
.town{
    width: 360px;
    height: 500px;
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.40) 0%, #000 2000%), url(../img/hotel1.png);
    display: grid;
}
.city{
    font-weight: 700;
    color: white;
    font-size: 24px;
}
.city::after{
    content:'';
    display: block;
    width: 94px;
    height: 5px;
    background: #FFE600;
}
.city+p{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.town>div{
    align-self: end;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 36px;
}
.dubai{
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.40) 0%, #000 2000%), url(../img/dubai\(2\).png);
}
.paries{
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.40) 0%, #000 2000%), url(../img/parie.png);
}
.newyork{
    background-image: linear-gradient(347deg, rgba(0, 0, 0, 0.40) 0%, #000 2000%), url(../img/Nw.png);
}
.view{
    float: right;
    margin-right: 100px;
    padding-top: 55px;
}
.line{
    width: auto;
    height: 4px;
    background: #F90;
}
.line2{
    width: auto;
    height: 4px;
    background: #F90;
    margin-top: -41px;
}
.hour{
    background-image: url(../img/bckhour.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 929.111px;
}
.infohour{
    display: flex;
    justify-content: center;
    column-gap: 324px;
    margin-top: 50px;
}
.areasof{
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
.areasof span{
    color: #F90;
}
.areasof+p{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    width: 566px;
}
.whatdo{
    float: right;
}
.purpose{
    min-height: 1180px;
}
.bigphotos{
    display: grid;
    grid-template-columns: 203px 240px 411px 179px 206px 315px;
    grid-template-rows: 400px 175px 200px;
    justify-content: center;
    grid-gap: 25px;
    margin-top: -35px;
}
.linepurpose{
    margin-top: -75px;
}
.bigphotos > img:nth-child(5){
    grid-column: 1/3;
    grid-row: 1;
}
.bigphotos > img:nth-child(2){
    grid-column: 3;
    grid-row: 1/3;
}
.bigphotos > img:nth-child(7){
    grid-column: 4/7;
    grid-row: 1;
}
.bigphotos > img:last-child{
    grid-column: 1;
    grid-row: 2;
    margin-top: -80px;
}
.bigphotos > img:nth-child(6){
    grid-column: 2;
    grid-row: 2;
    margin-top: -80px;
}
.bigphotos > img:nth-child(9){
    grid-column: 4;
    grid-row: 2/3;
}
.bigphotos > img:nth-child(8){
    grid-column: 5;
    grid-row: 2;
}
.bigphotos > img:nth-child(1){
    grid-column: 5;
    grid-row: 3;
    margin-top: -10px;
}
.bigphotos > img:nth-child(4){
    grid-column: 1/2;
    grid-row: 3;
    margin-top: -37px;
    margin-left: 7px;
}
.workus{
    padding-top: 70px;
    float: right;
    padding-right: 15%;
}
.awards{
    background: #F6FDEE;
    min-height: 1039px;
}
.awardfoto{
    display: grid;
    grid-template-columns: 285px 650px 512px;
    grid-template-rows: 323px 323px;
    grid-column-gap: 120px;
    justify-content: center;
    grid-row-gap: 45px;
    margin-top: 30px;
}
.awardfoto >img:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
.awardfoto >img:nth-child(5){
    grid-column: 2;
    grid-row: 1/2;
}
.awardfoto >img:nth-child(2){
    grid-column: 3;
    grid-row: 1;
    margin-top: -60px;
}
.awardfoto >img:nth-child(3){
    grid-column: 1;
    grid-row: 2;
}
.awardfoto >img:nth-child(4){
    grid-column: 3;
    grid-row: 2;
    margin-top: -143px;
    margin-left: 27px;
}
.info{
    background-image: url(../img/endbackgrd.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1300px;
}
.contacts{
    display: flex;
    column-gap: 310px;
}
.maininfo{
    display: grid;
    grid-template-columns: 365px 365px 365px;
    grid-template-rows: 300px 300px;
    grid-gap: 60px;
    padding-top: 8px;
}
.withus{
    padding-left: 142px;
    padding-top: 30px;
}
.mail{
    grid-column: 2/4;
    grid-row: 2;
}
.mail>p::after{
    content:'';
    display: block;
    width: auto;
    height: 1px;
    background: black;
}
.ofice{
    color: #000;
    font-size: 30px;
    font-weight: 400;
}
.nwofice{
    margin-top: -30px;
}
a>button{
    border-radius: 5px;
    background: #F90;
    color: #000;
    border: none;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    width: 212px;
    height: 66px;
    float: right;
    margin-right: 14.5%;
    /* margin-bottom: 100px; */
}
.policy{
    display: flex;
    /* margin-top: 400px; */
    margin-left: 162px;
    margin-right: 14.5%;
    justify-content: space-between;
}
.policy>p{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    
}
.polline{
    background: black;
    height: 1px;
    width: 78.5%;
    margin-left: 162px;
    margin-top: 300px;
    
}
@media screen and (max-width:1000px) {
    body{
        margin: 0;
    }
    .more::after{
        width: 130px;
    }
    .ourstory{
        height: 1700px;
    }
    .mainname{
        padding-top: 50px;
    }
    img{
        width: 300px;
        height: auto;
        padding: auto;
    }
    .more{
        padding: 0;
        margin-top: 300px;
        float: none;
    }
    .another{
    text-align: left;
    }
   
    header{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        font-size: 30px;
    }
    .navigation{
        flex-direction: column;
    }
    .wel-text{
        flex-direction: column;
        padding-top: 60px;
        
    }
    .story-content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .ourcollection{
        flex-direction: column;
    }
    .town{
        display: flex;
        flex-direction: column;
    }
    .infohou{
        flex-direction: column;
    }
    .bigphotos{
        flex-direction: column;
        display: flex;
    }
    .awardfoto{
        flex-direction: column;
        display: flex;
    }
    .contacts{
        flex-direction: column;
    }
    .maininfo{
        flex-direction: column;
        display: flex;

    }
    .ourcollection{
        height: 1800px;
    }
    .hour{
        margin-top: 80px;
    }
    .infohour{
        flex-direction: column;
    }
    .whatdo{
        margin-top: 0;
    }
    .purpose{
       margin-bottom: 120px;
    }
    .awards{
        height: 1800px;
    }
    .awardfoto>img{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .awardfoto >img:nth-child(4){
        margin-top: 0;
    }
    .polline{
        margin-left: 0;
    } 
    .policy{
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }
     .line{
        display: none;

    }
    a>button{
        float: none;
    }
    .line2{
        display: none;
    }
    .view{
        margin: 0;
    }
    .mail>p::after{
        content:'';
        display: block;
        width: 500px;
        height: 1px;
        background: black;
    }
    .vintage{
    font-size: 40px;
    }
    .isadore{
        font-size: 30px;
        width: 400px;
        margin: 0 auto;
        margin-top: 10px;
    }
}
@media screen and (max-width:650px){
    .vintage{
        font-size: 30px;
        text-align: center;
        }
        .isadore{
            font-size: 20px;
            width: 200px;
            margin: 0 auto;
            margin-top: 10px;
        }
        .mainname{
            padding-top: 50px;
            padding-left: 30px;
        }
        .areasof+p{
            width: 300px;
        }
        .mail>p::after{
            content:'';
            display: block;
            width: 200px;
            height: 1px;
            background: black;
        }
        
}