*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background: #FFF;
    font-size: 0;
    margin: 0 auto;
}
.header-img{
    display: inline-block;
    padding: 65px 250px;
    display: flex;
    align-items: center; 
}

.hsocial{
   width: 25px;
   height: 25px;
   display: flex;
   margin: 0px 1667px;
}
.facebook{
    margin: 0 21px;
}
.info1{
    height: 421px;
    background: #FAC960;
}
.textinfo1{
    color: #8A6D2F;
    text-align: center;
    font-family: Roboto;
    margin: 0;
}
.prt1{
    font-size: 44px;
    padding-top: 102px;
}
.prt2{
    font-size: 43px;
}
.formbutt{
    padding-top: 40px;
    display: inline-block;
    padding-left: 742px;
    
}
.eadress{
    width: 560px;
    height: 55px;
    background: #FFF;
    border: none;
    padding-left: 36px;
    font-size: 30px;
   
}
.eadress ::placeholder{
    color: #999;  
}
.subbutt{
    width: 240px;
    height: 55px;
    border: none;
    background: #A8863D;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    
}
.info2{
    height: 500px;
    background: #F2F2F2;
    
    
}
.textinfo2prt1{
    color: rgba(0, 0, 0, 0.56);
    font-size: 43px;
    text-align: center;
    margin: 0;
    font-family: Roboto;
    padding-top: 77px;
}
.textinfo2prt2{
    color: rgba(0, 0, 0, 0.40);
    font-size: 23px;
    font-family: Roboto;
    padding-top: 32px;
    width: 819px;
    margin-left: 724px;
    text-align: center;
}
.img8{
    padding-top: 56px;
    text-align: center;
}

.info3{
    height: 700px;
    background: #FFF;
}
.txt31{
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    font-family: Roboto;
    font-size: 43px;
    margin: 0;
    padding-top: 88px;
}
.txt32{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    width: 819px;
    margin-left: 724px;
    padding-top: 32px;
}
.imgphone{
    text-align: center;
    padding-top: 32px;
}
.info4{
    height: 313px;
    background: #FAC960;
    
}
.txt41{
    color: #8A6D2F;
    text-align: center;
    font-family: Roboto;
    font-size: 37px;
    padding-top: 54px;
    margin: 0;
}
.txt42{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    padding-top: 31px;
    margin: 0;
}
.buttend{
    text-align: center;
    width: 61px;
    height: 22px;
    background: #F2F2F2;
    
}
.divbutt{
    text-align: center;
    padding-top: 33px;
}
footer{
    height: 240px;
    background: #F2F2F2;
    margin: 0;
}
.logoend{
    text-align: center;
    padding-top: 81px;
}
.imgend{
    text-align: center;
    padding-top: 44px;
    
}
.twend{
    width: 17px;
    height: 17px;
    margin-right: 22px;
   
}
.fcend{
    width: 17px;
    height: 17px;

    
}
.emend{
    width: 17px;
    height: 17px; 
    margin-left: 22px;
}
a{
   text-decoration: none; 
}